node_modules
.DS_Store
.agents
.claude
.docs
.planning
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
**/routeTree.gen.ts
.turbo
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
pnpm-lock.yaml
server/
